
body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333; /* Ensuring text is readable against the light background */
}

.container, .content {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero {
    position: relative;
    width: 100%;
    height: 400px; /* Height of the background image */
}

.hero-image-container {
    width: 100%;
    height: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero-text h1, .hero-text h3 {
    margin: 0.5em 0;
}

.links, .content {
    text-align: center;
    padding: 20px;
}

a {
    color: #0078ff;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    padding: 10px 15px;
    margin: 10px 5px;
    display: inline-block;
}

.vk-link, .telegram-link {
        display: block;
        text-align: center;        
        color: #ffffff;
        transition: background-color 0.2s;

    }

    .vk-link {
        background-color: #0078ff;
    }

    .telegram-link {
        background-color: #28a8e9;
    }

    .vk-link:hover {
        background-color: #4c75a3;
    }

    .telegram-link:hover {
        background-color: #005580;
    }

.content p {
    color: #666;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 0 0 8px 8px;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 20px;
    }
    .hero-text h3 {
        font-size: 16px;
    }
}
